
<!DOCTYPE html>
<html>
<head>
    <title>Protected API</title>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="container mt-4">
        <h1>List of API</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>API_id:</th>
                    <th>creator name</th>
                    <th>API Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for api in apis %}
                <tr>
                    <td>{{api.id}}</td>
                    <td>{{api.creator.username}}</td>
                    <td>{{ api.name }}</td>
                    <td>{{ api.desc }}</td>
                    <td>
                        <a href="http://127.0.0.1:8000/deleteAPI/{{ api.id }}" class="btn btn-danger">Delete</a>
                        <a href="http://127.0.0.1:8000/updateAPI/{{ api.id }}" class="btn btn-primary">Update</a>
                        <a href="http://127.0.0.1:8000/mapAPI/{{ api.id }}" class="btn btn-primary">MAP API</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Add Bootstrap JS and jQuery scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

